<!-- Latest News Widget -->
<div class="single-widget-area news-widget mb-30" th:fragment= "noibat">
    <h4>Nổi bật</h4>

    <!-- Single News Area -->
    <div class="single-blog-post d-flex style-4 mb-30" th:each= "item:${highViewPosts}">
        <!-- Blog Thumbnail -->
        <div class="blog-thumbnail" style="height: 80px;">
            <a th:href="@{'/bai-viet/' + ${item.id}}"><img th:src="@{'/file/' + ${item.image}}" alt="" style="
                height: 100%;
                object-fit: cover;"></a>
        </div>

        <!-- Blog Content -->
        <div class="blog-content">
            <span class="post-date" th:text="${#dates.format(item.pulishDate, 'dd MMM, yyyy')}"></span>
            <a th:href="@{'/bai-viet/' + ${item.id}}" class="post-title" th:text="${item.title}"></a>
        </div>
    </div>
</div>