<aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/admin">
                <i class="bi bi-house-door"></i>
                <span>Home</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <th:block th:each= "item:${@menuService.getAdminMenus()}">
            <li th:replace="~{admin/layouts/menuitem.html :: menuItem(data = ${item})}"
            ></li>
        </th:block>

        <li class="nav-heading">Tài khoản</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/users/infor">
                <i class="bi bi-person"></i>
                <span>Hồ sơ</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Đăng xuất</span>
            </a>
        </li>
    </ul>

</aside>