<div th:fragment="content">
    <div th:unless="${getLatesPostByCategory != null}">
        <!-- ##### Breaking News Area Start ##### -->
        <section th:replace="~{user/components/section-news.html :: section-news }"></section>
        <!-- ##### Breaking News Area End ##### -->
    </div>
    <div class="catagory-featured-post bg-overlay clearfix" th:if="${getLatesPostByCategory != null}"
        th:attr="style='background-image: url(\'/file/' + ${getLatesPostByCategory.image} + '\')'">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-lg-9">
                    <!-- Post Content -->
                    <div class="post-content">
                        <p class="tag"><span th:text="${catagory.name}"></span></p>
                        <a th:href="@{'/bai-viet/' + ${getLatesPostByCategory.id}}" class="post-title"
                            th:text="${getLatesPostByCategory.title != null} ? ${getLatesPostByCategory.title}:''"></a>
                        <p
                            th:text="${getLatesPostByCategory.description != null} ? ${getLatesPostByCategory.description}:''">
                        </p>
                        <span class="post-date" th:text="${#dates.format(getLatesPostByCategory.pulishDate, 'dd MMM, yyyy')}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Catagory -->
    <div class="news-area section-padding-100-70" style="padding-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <h5 style="text-align: center;" th:unless="${getLatesPostByCategory != null}">Hiện không có bài viết trong danh mục này.</h5>
                    <h5 th:if="${getLatesPostByCategory != null}">Danh sách bài viết</h5>
                    <!-- Single News Area -->
                    <div th:each= "item:${posts.content}" class="single-blog-post d-flex flex-wrap style-5 mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail" style="height: 230px;">
                            <a th:href="@{'/bai-viet/' + ${item.id}}"><img th:src="@{'/file/' + ${item.image}}" alt="" style="
                                height: 100%;
                                object-fit: cover;"></a>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content">
                            <span class="post-date" th:text="${#dates.format(item.pulishDate, 'dd MMM, yyyy')}"></span>
                            <a th:href="@{'/bai-viet/' + ${item.id}}" class="post-title" th:text="${item.title}"></a>
                            <a class="post-author" th:text="${item.author != null} ? ${item.author.name} : ''"></a>
                            <p th:text="${item.description != null} ? ${item.description}:''"></p>
                        </div>
                    </div>
                    <!-- Phân trang -->
                    <div class="pagination-area" th:if="${getLatesPostByCategory != null}">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:style= "${currentPage==0?'display:none;':''}">
                                    <a class="page-link" th:if="${currentPage > 0}" th:href="@{'?page=' + ${currentPage - 1}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li th:each="pageNumber : ${currentPage}" class="page-item" th:class="${pageNumber == currentPage} ? 'active' : ''">
                                    <a class="page-link" th:href="@{'?page=' + ${pageNumber}}" th:text="${pageNumber + 1}"></a>
                                </li>
                                <li class="page-item" th:style= "${currentPage==totalPages - 1?'display:none;':''}">
                                    <a class="page-link" th:href="@{'?page=' + ${currentPage+1}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3">
                    <div th:replace="~{user/components/noibat.html :: noibat }"></div>
                </div>

            </div>
        </div>
    </div>
</div>