<div th:fragment="content">
    <!-- ##### Post Details Title Area Start ##### -->
    <div class="post-details-title-area bg-overlay clearfix"
        th:attr="style='background-image: url(\'/file/' + ${post.image} + '\')'">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-lg-8">
                    <!-- Post Content -->
                    <div class="post-content">
                        <p class="tag"><span>Tin tức</span></p>
                        <p class="post-title" th:text="${post.title}"></p>
                        <div class="d-flex align-items-center">
                            <span class="post-date mr-30" th:text="${#dates.format(post.pulishDate, 'dd MMM, yyyy')}"></span>
                            <span class="post-date" th:text="${post.author != null} ? ${post.author.name} : ''"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Post Details Title Area End ##### -->

    <!-- ##### Post Details Area Start ##### -->
    <section class="post-news-area section-padding-100-0 mb-70">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8">
                    <div class="post-details-content mb-100" th:utext="${post.details}">     
                    </div>

                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix mb-100">
                        <h4 class="mb-50">Bình luận</h4>

                        <ol>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area" th:each= "item:${comments}">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <div class="d-flex">
                                            <a class="post-author" th:text="${item.userName}"></a>
                                            <a class="post-date" th:text="${#dates.format(item.createdDate, 'dd MMM, yyyy')}"></a>
                                        </div>
                                        <p th:text="${item.comment}"></p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>

                    <div class="post-a-comment-area mb-30 clearfix">
                        <h4 class="mb-50">Để lại bình luận</h4>

                        <!-- Reply Form -->
                        <div class="contact-form-area">
                            <form th:action="@{'/bai-viet/' + ${post.id} + '/binh-luan'}" method="post">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="text" class="form-control" name="userName" th:value="${#ctx.session.isEmpty()} ? '' : ${#ctx.session.userName}" placeholder="Họ tên*" th:readonly="${not #ctx.session.isEmpty()}">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="comment" class="form-control" cols="30" rows="10" placeholder="Nhập bình luận của bạn..."></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn newsbox-btn mt-30" type="submit">Gửi</button>
                                    </div>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                    <div th:replace="~{user/components/noibat.html :: noibat }"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->
</div>