<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" th:fragment="modal_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteForm" action="" style="display: inline-block" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Xóa
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xoá bản ghi này ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>