<main id="main" class="main" th:fragment="content">

    <div class="pagetitle">
        <h1>Thêm Admin Menu</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Quản lý Admin Menu</li>
                <li class="breadcrumb-item active">Thêm Admin Menu</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Biểu mẫu</h5>

                        <!-- General Form Elements -->
                        <form class="row g-3" enctype="multipart/form-data" method="post">
                            <div class="col-md-6">
                                <label for="inputName" class="form-label">Tên menu</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Thuộc cấp</label>
                                <select class="form-select" aria-label="Default select example" name="parentId">
                                    <option selected th:value="${null}">Cấp mới</option>
                                    <option th:each="item:${menuAsides}" th:value="${item.id}" th:text="${item.name}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="inputDes" class="form-label">Thứ tự</label>
                                <input type="number" class="form-control" name="menuOrder" required>
                            </div>
                            <div class="col-md-4">
                                <label for="inputDes" class="form-label">Icon</label>
                                <input type="text" class="form-control" name="icon">
                            </div>
                            <div class="col-md-4">
                                <label for="inputDes" class="form-label">Đường dẫn</label>
                                <input type="text" class="form-control" name="link">
                            </div>
                            <div class="col-md-4">
                                <label for="inputDes" class="form-label">Tên id</label>
                                <input type="text" class="form-control" name="idName">
                            </div>
                            <div class="col-md-4">
                                <label for="inputDes" class="form-label">Tên Lớp</label>
                                <input type="text" class="form-control" name="className">
                            </div>
                            <div class="col-md-4">
                                <label for="inputDes" class="form-label">Tên Target</label>
                                <input type="text" class="form-control" name="menuTarget">
                            </div>
                            <div class="col-md-12">
                                <legend class="col-form-label col-sm-2 pt-0">Quyền truy cập</legend>
                                <div class="col-sm-10" th:each= "item:${roles}">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="roles" th:id= "'checkrole-' + ${item.id}" th:value="${item.id}">
                                        <label class="form-check-label" th:for= "'checkrole-' + ${item.id}" th:text="${item.name}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Trạng thái</label>
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                    name="active" th:checked="${active}">
                            </div>

                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

<script th:fragment="script_after"></script>